body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkturquoise;
}

.advertContainer {
    width: 40%;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.logoContainer {
    position: absolute;
    left: 50%;
    top: 12.5%;
    width: 75vh;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.logo {
    width: 100%;
    height: auto;
    object-fit: contain;
    z-index: 1; /* Logo sotto le immagini */
    animation: bounce-in ease 5s;
}

.firstImage, .secondImage, .thirdImage {
    position: relative;
    width: auto;
    height: auto;
    left: 15%;
    top: 35%;
    opacity: 0;
    animation: flip ease 3s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

.firstImage {
    max-width: 33%;
    max-height: 33%;
    animation-delay: 2s;
    z-index: 2;
}

.secondImage {
    max-width: 27%;
    max-height: 27%;
    animation-delay: 3s;
    z-index: 3;
}

.thirdImage {
    max-width: 21%;
    max-height: 21%;
    animation-delay: 4s;
    z-index: 4;
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% { transform: scale(.9); }
    100% { transform: scale(1); }
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(0);
    }
    50% {
        transform: perspective(400px) translateZ(150px) rotateY(180deg);
    }
    100% {
        opacity: 1;
        transform: perspective(400px) rotateY(360deg);
    }
}

h1 {
    color: #f0f0f0;
}

p {
    color: #666;
    font-size: 20px;
}
